.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
  a {
    color: #636363;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }

  li {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }

}

.menu__button {
  padding: 14px 32px;
  background-color: transparent;
  border: solid #636363 1px;
  border-radius: 8px;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: black;
    cursor: pointer;
  }
}



@media (max-width: 850px) {

  .menu__icon {
    z-index: 6;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin: 0;
    & span,
    &::after,
    &::before {
      right: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #fff;
    }
    &::after,
    &::before {
      content: "";
    }
    &::after {
      width: 50%;
      bottom: 0;
    }
    &::before {
      top: 0;
    }
    span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }
  }
  .menu__icon._active {
    overflow: hidden;
    span {
      display: none;
    }
    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }
    &::after {
      width: 100%;

      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }
  }
  .menu__link {
    display: block;
    font-size: 28px;
    margin-bottom: 24px;
  }
  .menu__body {
    z-index: 5;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: right 0.3s ease 0s;

    &._active {
      right: 0;
      overflow: hidden;

    }
  }

  .menu__list {
    display: flex;
    flex-direction: column;
  }
  .nav {
    a {
      display: none;
    }
  }
}