.sec2 {
  font-family: 'Montserrat', sans-serif;
  background-size: 50% 100%;
  background-position: right;
  background-repeat: no-repeat;
  .sec2__content {
    width: 70%;
    margin: auto;
    z-index: 2;
    display: flex;
    background: linear-gradient(360deg, #171717 -2.58%, #010101 91.03%);
    border-radius: 12px;
    .sec2__leftSide {
      img {
        height: 100%;
      }
    }
    .sec2__rightSide {
      margin-left: 11px;
      .sec2__title {
        font-family: 'Hauora', sans-serif;
        font-weight: 700;
        font-size: 56px;
        margin-top: 64px;
        margin-bottom: 20px;
      }
      .sec2__desc {
        font-size: 18px;
        margin-bottom: 20px;
      }
      .sec2__bottomSide {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .sec2__bottomSide_left {
          .sec2__bottomSide_left__title {
            font-weight: 700;
            font-size: 29px;
            margin-bottom: 28px;
          }
          .sec2__bottomSide_left__desc {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 20px;
          }
          .sec2__bottomSide_left__receive1, .sec2__bottomSide_left__receive2 {
            font-size: 16px;
            margin-bottom: 15px;
          }
        }
        .sec2__bottomSide_right {

          .sec2__bottomSide_right__title {
            display: block;
            max-width: 60px;
            max-height: 47px;
            padding: 14px 32px;
            border-radius: 42px;
            background-color: rgba(205, 57, 57, 0.1);
            color: #FD5252;
            margin-bottom: 20px;
          }
          .sec2__bottomSide_right__button {
            display: inline-block;
            background-color: #CE0101;
            padding: 16px 73px;
            color: white;
            text-decoration: none;
            border-radius: 11px;
          }
        }
      }
    }
  }
  .sec2__bottom-side {
    margin-top: 91px;
    display: flex;
    justify-content: space-between;
    .sec2__bottom-side_left{
      text-align: center;
      max-width: 305px;
      .sec2__bottom-side_left_img {
        margin-bottom: 25px;
      }
      .sec2__bottom-side_left_title {
        opacity: 0.64;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.015em;
        margin-bottom: 22px;
      }
      .sec2__bottom-side_left_text {
        opacity: 0.64;
        font-weight: 400;
        font-size: 15px;
        line-height: 32px;
      }
    }

    .sec2__bottom-side_center {
      text-align: center;
      max-width: 401px;
      .sec2__bottom-side_center_img {
        margin-bottom: 26px;
      }
      .sec2__bottom-side_center_title {
        font-size: 29px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 26px;
      }
      .sec2__bottom-side_center_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
      }
    }

    .sec2__bottom-side_right {
      text-align: center;
      max-width: 305px;
      .sec2__bottom-side_right_img {
        margin-bottom: 21px;
      }
      .sec2__bottom-side_right_title {
        opacity: 0.64;
        margin-bottom: 42px;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
      }
      .sec2__bottom-side_right_text {
        font-size: 15px;
        line-height: 32px;
        opacity: 0.64;
      }
    }
  }
}
.sec2__front-side {
  height: auto;
  position: relative;
}
@media (max-width: 1245px) {
    .sec2__content {
      flex-direction: column-reverse;

      img {
        display: block;
        width: 70%;
        margin: 0 auto;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  .sec2__bottom-side {
    img {
      margin-top: 44px;
    }
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 850px) {
  .sec2__content {
    img {
      width: 100%;
    }
  }
}