.sec2 {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  .sec2__bg {
    z-index: 1;
    position: absolute;
    right: 0;
  }
  .sec2__content {
    width: 70%;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    display: flex;
    background: linear-gradient(360deg, #171717 -2.58%, #010101 91.03%);
    border-radius: 12px;
    .sec2__leftSide {
      img {
        height: 100%;
      }
    }
    .sec2__rightSide {
      margin-left: 11px;
      .sec2__title {
        font-family: 'Hauora', sans-serif;
        font-weight: 700;
        font-size: 56px;
        margin-top: 64px;
        margin-bottom: 20px;
      }
      .sec2__desc {
        font-size: 18px;
        margin-bottom: 20px;
      }
      .sec2__bottomSide {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .sec2__bottomSide_left {
          .sec2__bottomSide_left__title {
            font-weight: 700;
            font-size: 29px;
            margin-bottom: 28px;
          }
          .sec2__bottomSide_left__desc {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 20px;
          }
          .sec2__bottomSide_left__receive1, .sec2__bottomSide_left__receive2 {
            font-size: 16px;
            margin-bottom: 15px;
          }
        }
        .sec2__bottomSide_right {

          .sec2__bottomSide_right__title {
            display: block;
            max-width: 60px;
            max-height: 47px;
            padding: 14px 32px;
            border-radius: 42px;
            background-color: rgba(205, 57, 57, 0.1);
            color: #FD5252;
            margin-bottom: 20px;
          }
          .sec2__bottomSide_right__button {
            display: inline-block;
            background-color: #CE0101;
            padding: 16px 73px;
            color: white;
            text-decoration: none;
            border-radius: 11px;
          }
        }
      }
    }
  }
}
@media (max-width: 1245px) {
    .sec2__content {
      flex-direction: column-reverse;

      img {
        display: block;
        width: 70%;
        margin: 0 auto;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

}
@media (max-width: 850px) {
  .sec2__content {
    img {
      width: 100%;
    }
  }
}